header.header
  .header__wrap.wrap
    .header__left
      nav.header__nav
        button(type="button" data-js="toggle-menu").header__toggle
          <svg class="header__toggle-ico" viewBox="0 0 32 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1 0C0.447715 0 0 0.447715 0 1C0 1.55228 0.447715 2 1 2H31C31.5523 2 32 1.55228 32 1C32 0.447715 31.5523 0 31 0H1ZM1 10C0.447715 10 0 10.4477 0 11C0 11.5523 0.447715 12 1 12H16C16.5523 12 17 11.5523 17 11C17 10.4477 16.5523 10 16 10H1Z" fill="currentColor"/>
          </svg>
        .header__nav-list
          each link in ['Упаковка', 'Оборудование', 'Сервис и запчасти']
            a(href="#!").header__nav-link= link

      img(src="./assets/img/logo.png", alt="").header__logo

    .header__right
      .header__actions
        a(href="#!").header__actions-btn
          <svg class="header__actions-ico" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6 0C6.55228 0 7 0.447715 7 1V15C7 15.5523 6.55228 16 6 16C5.44772 16 5 15.5523 5 15V1C5 0.447715 5.44772 0 6 0ZM1 7C1.55228 7 2 7.44772 2 8L2 15C2 15.5523 1.55229 16 1 16C0.447715 16 0 15.5523 0 15V8C0 7.44772 0.447715 7 1 7ZM12 6C12 5.44772 11.5523 5 11 5C10.4477 5 10 5.44772 10 6V15C10 15.5523 10.4477 16 11 16C11.5523 16 12 15.5523 12 15V6Z" fill="#C9C9CF"/>
          </svg>

        a(href="#!").header__actions-btn
          <svg class="header__actions-ico" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3 8.5C3 4.91015 5.91015 2 9.5 2C13.0899 2 16 4.91015 16 8.5C16 12.0899 13.0899 15 9.5 15C5.91015 15 3 12.0899 3 8.5ZM9.5 0C4.80558 0 1 3.80558 1 8.5C1 10.6524 1.79999 12.6179 3.11886 14.1154C3.03248 14.161 2.95137 14.2202 2.87868 14.2929L0.292893 16.8787C-0.0976311 17.2692 -0.0976311 17.9024 0.292893 18.2929C0.683417 18.6834 1.31658 18.6834 1.70711 18.2929L4.29289 15.7071C4.38897 15.611 4.46141 15.5003 4.51022 15.382C5.91149 16.3998 7.63565 17 9.5 17C14.1944 17 18 13.1944 18 8.5C18 3.80558 14.1944 0 9.5 0Z" fill="#C9C9CF"/>
          </svg>

      .header__contacts
        a(href="tel:+7 (499) 136-17-18").header__phone +7 (499) 136-17-18
        a(href="mailto:info@monevac.ru").header__email info@monevac.ru
      button(type="button").btn.btn_red.header__btn Оставить заявку

  .header__menu(data-js="menu-mobile")
    .header__menu-header
      img(src="./assets/img/logo.png", alt="").header__menu-logo
      button(type="button" data-js="toggle-menu").header__menu-close
        <svg class="header__menu-cross" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.11144 21.7537C1.69362 22.1715 1.0188 22.1609 0.601204 21.7433C0.183606 21.3257 0.183785 20.6617 0.60161 20.2439L9.69722 11.1482L0.605852 2.05686C0.188929 1.63859 0.189114 0.952975 0.606939 0.535151C1.02476 0.117326 1.69958 0.12794 2.11718 0.545539L11.2085 9.63691L20.3042 0.541295C20.722 0.123471 21.3968 0.112492 21.8144 0.530091C22.232 0.947689 22.2318 1.6333 21.814 2.05113L12.7184 11.1467L21.8098 20.2381C22.2274 20.6557 22.238 21.3305 21.8201 21.7484C21.4023 22.1662 20.7167 22.1664 20.2991 21.7488L11.2077 12.6574L2.11144 21.7537Z" fill="currentColor"/>
        </svg>

    .header__menu-content
      .header__menu-group
        .header__menu-nav
          each link in ['О Компании','Партнеры','Доставка','Оплата','Обмен и возврат','Контакты','Распродажа','Сервис','Новости']
            a(href="#!").header__menu-link= link
