doctype html
html
    include ../elements/head/head
    +head('Mono', 'Page description', 'Page keywords')
    body
        include ../elements/header/header

        include ../elements/contact/contact

        include ../elements/footer/footer

        script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")