/* Vars:
  ========================================================================== */

// Font
$mainFont                : 'Golos', Helvetica, Arial, sans-serif;
$secondFont                : 'Road Radio', 'Times New Roman', sans-serif;


/*
  All colors taken from:
  https://github.com/vedees/uimini
*/

// Main color

$dark-color: #262633;
$red-color: #BF2738;
$grey-color: #797986;